.unigui_theme {
		border-left-width: 1px;
		border-bottom-width: 1px;
		window-header-height: 30px;
		tab-header-height: 27px;
    tab-border-width: 2px;
		menu-band-height: 26px;
		panel-header-height: 29px;
		panel-header-width: 29x;
		calendar-form-width: 195px;
		calendar-form-height: 270px;
		borderless-border-width: 1px;
}

.x-theme-color {
  background-color:#f0f0f0;
  border-color: white #999 #999 white !important;
  border-width: 0px 1px 0px 1px !important;
}

.x-grid-row .x-grid-cell-selected {
  background-color: #b8cfee !important;
}

.x-form-trigger-btn {
  background-image: none !important;
  padding-top: 1px;
}

.x-form-trigger-font-btn {
  background-image: none !important;
  padding-top: 1px;
  vertical-align: inherit;
  line-height: inherit;
}

.x-panel-body-default {
    font-size: 11px;
}

.x-form-text-default {
    font-size: 11px;
}

.x-form-textarea {
	min-height: 10px !important;
}
