.unigui_theme {
		border-left-width: 2px;
		border-bottom-width: 2px;
		borderless-border-width: 2px;
		window-header-height: 44px;
		tab-header-height: 51px;
		panel-header-height: 44px;
		panel-header-width: 44px;
		menu-band-height: 32px;
		calendar-form-width: 310px;
		calendar-form-height: 335px;
		theme-borderless: true;
		default-edit-height: 28px;
		fieldset-padding-right: 5px;
		fieldset-padding-bottom: 5px;
}

.x-theme-color {
  background-color: #18bc9c;
  border-color: white #eee #eee white !important;
}

.x-uni-tabsheet {
	border-top-style: none !important;
}

.x-form-cb-label-default {
	margin-top: 7px !important;
}

.x-form-trigger {
  vertical-align: middle;
}

.x-btn-default-small {
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}
.x-btn-default-medium {
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}
.x-btn-default-large {
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}

.x-btn-default-toolbar-small {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.x-btn-default-toolbar-medium {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.x-btn-default-toolbar-large {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

/*
.x-btn-inner-default-small{
    font:500 13px/16px Open Sans, sans-serif !important;
}
.x-btn-inner-default-medium{
    font:500 15px/20px Open Sans, sans-serif !important;
}
.x-btn-inner-default-large{
    font:500 18px/24px Open Sans, sans-serif !important;
}
*/

.x-tab.x-tab-active.x-tab-default {
    border-radius: 4px 4px 0px 0px;
}
.x-tab.x-tab-top.x-tab-over {
	border-radius: 4px 4px 0px 0px;
}


.bgv-btn-theme {
	color: #f0f0f0;
	border-color: #18bc9c;
    background-color: #18bc9c;
    background-image: none;
	transition: box-shadow .18s ease-out, background .18s ease-out, color .18s ease-out;
}
.bgv-btn-theme:hover {
	color: #f0f0f0;
    border-color: #18bc9c;
    background-color: #18bc9c;
    background-image: none;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.bgv-btn-theme:active {
    border-color: #18bc9c;
    background-color: #18bc9c;
    background-image: none
}

.bgv-btn-theme .x-btn-inner-default-small {
	color: #F0F0F0 !important;
}
.bgv-btn-theme .x-btn-inner-default-medium {
	color: #F0F0F0 !important;
}
.bgv-btn-theme .x-btn-inner-default-large {
	color: #F0F0F0 !important;
}

.x-btn-icon-el-default-small, .x-btn-icon-el-default-medium, .x-btn-icon-el-default-large {
	color: #13688c;
}

.bgv-btn-flat {
   background: transparent !important;
   color: #666 !important; 
   -webkit-transition: all 0.14s ease-in-out;
   transition: all 0.14s ease-in-out;
   padding: 2px;
   border-width: 2px;
   border-radius: 0px;
   border-color: #silver;
}
.bgv-btn-flat:hover {
   background: 18bc9c !important;
   color: #F0F0F0 !important;
   -webkit-transition: all 0.14s ease-in-out;
   transition: all 0.14s ease-in-out;
   border-color: #18bc9c;
 }

 
 .bgv-btn-flat-round {
	border-radius: 4px;
 }


.x-keyboard-mode .bgv-btn-theme.x-btn-focus.x-btn-over.x-btn-default-small {
	border-color: #18bc9c !important;
	background-color: #18bc9c !important;
}
.x-keyboard-mode .bgv-btn-theme.x-btn-focus.x-btn-default-small {
	border-color: #18bc9c !important;
	background-color: #18bc9c !important;
}
.x-keyboard-mode .bgv-btn-theme.x-btn-focus.x-btn-over.x-btn-default-medium {
	border-color: #18bc9c !important;
	background-color: #18bc9c !important;
}
.x-keyboard-mode .bgv-btn-theme.x-btn-focus.x-btn-default-medium {
	border-color: #18bc9c !important;
	background-color: #18bc9c !important;
}
.x-keyboard-mode .bgv-btn-theme.x-btn-focus.x-btn-over.x-btn-default-large {
	border-color: #18bc9c !important;
	background-color: #18bc9c !important;
}
.x-keyboard-mode .bgv-btn-theme.x-btn-focus.x-btn-default-large {
	border-color: #18bc9c !important;
	background-color: #18bc9c !important;
}
