.unigui_theme {
		border-left-width: 5px;
		border-bottom-width: 5px;
		window-header-height: 27px;
		tab-header-height: 29px;
    tab-border-width: 2px;
		menu-band-height: 26px;
		panel-header-height: 28px;
		panel-header-width: 28px;
		calendar-form-width: 190px;
		calendar-form-height: 260px;
}

.x-theme-color {
  background-color:#D4D0C8 !important;
  border-color: white black black white !important;
  border-width: 0px 1px 0px 1px !important;
}

.x-grid-row .x-grid-cell-selected {
 	background-color: #b8cfee !important;
}

.x-form-trigger-btn {
  background-image: none !important;
  border-radius: 1px 2px 0px 0px; 
	border-width: 1px !important;
	border-style: solid !important;
  border-color: white black black white !important; 
  padding-top: 2px;
}

.x-form-trigger-font-btn {
  background-image: none !important;
  border-radius: 1px 2px 0px 0px; 
	border-width: 1px !important;
	border-style: solid !important;
  border-color: white black black white !important; 
  padding-top: 2px;
  vertical-align: inherit;
  line-height: inherit;
}

.x-panel-body-default {
    font-size: 11px;
}

.x-form-text-default {
    font-size: 11px;
}

.x-form-textarea {
	min-height: 10px !important;
}
